# Backend
DEBUG=false
SECRET_KEY=example
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=example
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=example
EMAIL_BACKEND=example
EMAIL_HOST=example
EMAIL_PORT=example
EMAIL_USE_TLS=example
EMAIL_HOST_USER=example
EMAIL_HOST_PASSWORD=example
ADMIN_EMAILS=example
GET_SCORES_EMAILS=example
TO_SEND_EMAILS=example
API_KEY=example
AI_MODEL=example
ALLOWED_EMAIL_DOMAIN=example

# Database
DB_ENGINE=example
DB_NAME=example
DB_USER=example
DB_PASSWORD=example
DB_HOST=example
DB_PORT=5432

# Frontend
FRONTEND_PORT=3000
NUXT_APP_GOOGLE_CLIENT_ID=example
NUXT_APP_DRF_CLIENT_ID=example
NUXT_APP_DRF_CLIENT_SECRET=example
NUXT_ENCRYPTION_KEY=example

# Development environment
BACKEND_PORT=8000
DJANGO_ALLOWED_HOSTS=example

# Release preparation environment (uncomment as needed)
#DJANGO_ALLOWED_HOSTS=example
#HTTP_PORT=80
#FRONTEND_PROXY=example
#BACKEND_PROXY=example
#ANALYZE_TOOL_PROXY=example
#SERVER_NAME=example
#NUXT_CLIENT_SIDE_URL=example
#NUXT_SERVER_SIDE_URL=example
#NUXT_ENV=production

# Production environment (uncomment as needed)
#DJANGO_ALLOWED_HOSTS=example
#HTTP_PORT=80
#HTTPS_PORT=443
#FRONTEND_PROXY=http://frontend:3000
#BACKEND_PROXY=http://backend:8000
#SERVER_NAME=example
#NUXT_CLIENT_SIDE_URL=example
#NUXT_SERVER_SIDE_URL=http://nginx
#NUXT_ENV=production

# SSL settings (uncomment when enabling HTTPS)
#SSL_VOLUME=example
#SSL_CERTIFICATE_PATH=example
#SSL_CERTIFICATE_KEY_PATH=example
