APScheduler==3.10.4
PyYAML==6.0.2
asgiref==3.8.1
cachetools>=2.0.0,<6.0
certifi==2025.7.14
charset-normalizer==3.4.2
defusedxml==0.8.0rc2
Django==5.1.7
django-cors-headers==4.7.0
django-oauth-toolkit==3.0.1
djangorestframework==3.16.0
drf-social-oauth2==3.1.0
flake8==7.2.0
google-auth==2.40.3
google-auth-oauthlib==1.2.2
google-generativeai==0.8.5
gunicorn==23.0.0
idna==3.10
mecab-python3==1.0.6
oauthlib==3.2.2
psycopg2-binary==2.9.10
python-dotenv==1.1.0
python3-openid==3.2.0
pytz==2025.2
requests==2.32.4
requests-oauthlib==2.0.0
rsa==4.9.1
social-auth-app-django==5.4.3
social-auth-core==4.6.1
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0